$font-primary: 'Open Sans', sans-serif;

@mixin transition {
    -webkit-transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
    -moz-transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
    -o-transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
    -ms-transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
    transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
}

@mixin bw {
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(1);
}